In [4]:
import pandas as pd
import numpy as np

In [5]:
driver_ids = pd.read_csv('datasets/driver_ids.csv')
driver_ids

                            driver_id  driver_onboard_date
0    002be0ffdc997bd5c50703158b7c2491  2016-03-29 00:00:00
1    007f0389f9c7b03ef97098422f902e62  2016-03-29 00:00:00
2    011e5c5dfc5c2c92501b8b24d47509bc  2016-04-05 00:00:00
3    0152a2f305e71d26cc964f8d4411add9  2016-04-23 00:00:00
4    01674381af7edd264113d4e6ed55ecda  2016-04-29 00:00:00
..                                ...                  ...
932  ff419a3476e21e269e340b5f1f05414e  2016-04-26 00:00:00
933  ff714a67ba8c6a108261cd81e3b77f3a  2016-03-28 00:00:00
934  fff482c704d36a1afe8b8978d5486283  2016-04-08 00:00:00
935  fffecccc49436c5389075b13209f0dfa  2016-05-06 00:00:00
936  ffff51a71f2f185ec5e97d59dbcd7a78  2016-05-04 00:00:00

[937 rows x 2 columns]

In [6]:
ride_ids = pd.read_csv('datasets/ride_ids.csv')
ride_ids.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100

In [7]:
ride_ts = pd.read_csv('datasets/ride_timestamps.csv')
ride_ts.head()

                            ride_id           event            timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at  2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at  2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at  2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at  2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at  2016-06-13 10:03:05

In [9]:
#calculate the lyft fare price for each ride
# constant variables used  to calc. total cost of ride (driver's lifetime value)
BASEFARE = 2.00
COSTPERMILE = 1.15
COSTPERMIN = 0.22
SERVICEFEE = 1.75
MINFARE = 5.00
MAXFARE = 400.00

ride_ids['ride_total_cost'] = ( (BASEFARE + (COSTPERMIN*(ride_ids['ride_duration']/60))+(COSTPERMILE*(ride_ids['ride_distance']*0.000621))) * (1+ride_ids['ride_prime_time']/100)) + SERVICEFEE
# Apply lower and upper bound to ride cost (Minimum Fare, Maximum Fare )
ride_ids['ride_total_cost'] = np.where(ride_ids['ride_total_cost'] < MINFARE, MINFARE, ride_ids['ride_total_cost'])
ride_ids['ride_total_cost'] = np.where(ride_ids['ride_total_cost'] > MAXFARE, MAXFARE, ride_ids['ride_total_cost'])

ride_ids

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_total_cost
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,8.488488
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,9.117306
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,8.191174
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,77.826485
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,17.662788
...,...,...,...,...,...,...
193497,ffff51a71f2f185ec5e97d59dbcd7a78,fc717192b3512767269ff5a54b97af05,10127,1336,0,15.880864
193498,ffff51a71f2f185ec5e97d59dbcd7a78,fd6fa5f9265d2cf83936ead663f9e0e7,1908,445,0,6.744265
193499,ffff51a71f2f185ec5e97d59dbcd7a78,fe0857c43025264d337dfe1d8463e503,4039,875,0,9.842785
193500,ffff51a71f2f185ec5e97d59dbcd7a78,ff0db0ca4557bf5b05b4da6f660a1ac1,4760,777,0,9.998354
193501,ffff51a71f2f185ec5e97d59dbcd7a78,ff7dc29693f8c79ff103d350a7b6c157,3751,889,100,17.626887